@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
.card-title h2 {
    font-family: 'Lobster', cursive;
    background: -webkit-linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
    background-clip: none;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

body {
    background: rgb(69, 92, 117);
    background: radial-gradient(circle, rgba(69, 92, 117, 1) 0%, rgba(20, 96, 128, 1) 48%, rgba(24, 137, 159, 1) 100%);
}

.card {
    margin-top: 25%;
}

a {
    text-decoration: none;
}

.btn {
    border-radius: 15px;
}

.card-title i {
    font-size: 50px;
    background: -webkit-linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
    background-clip: none;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%); */
}