{%extends 'base.html'%} {%block title%} {{title}} {%endblock%} {%block content %}
<form method="POST" action="" class="login-section">
    <div class="card bg-light">
        <div class="card-title text-center">
            <i class="fas fa-user-circle"></i>
            <h2>User Login</h2>
        </div>
        <div class="card-body">
            <div class="form-floating mb-3">
                {% if form.email.errors%} {{form.email(class="form-control is-invalid", placeholder="Enter your email")}}
                <div class="invalid-feedback">
                    {% for error in form.email.errors%}
                    <span>{{error}}</span> {% endfor%}
                </div>
                {% else %} {{form.email(class="form-control", placeholder="Enter your email")}} {% endif%}
                <label for="floatingInput">Email address</label>
            </div>
            <div class="form-floating mb-3">
                {% if form.password.errors%} {{form.password(class="form-control is-invalid", placeholder="Enter your password")}}
                <div class="invalid-feedback">
                    {% for error in form.password.errors%}
                    <span>{{error}}</span> {% endfor%}
                </div>
                {% else %} {{form.password(class="form-control", placeholder="Enter your password")}} {% endif%}
                <label for="floatingPassword">Password</label>
            </div>
            <div class="form-check mb-3">
                <label class="form-check-label">
              <input class="form-check-input" type="checkbox" name="remember"> Remember me
            </label>
            </div>
            <div class="mb-3">
                <a href="#" class="text-secondary">Forgot Password ?</a>
                <br>
                <a href="#" class="text-secondary">Don't Have An Account ?</a>
                <br>
            </div>
            <button type="submit" class="btn btn-outline-dark">Login</button>
        </div>
    </div>
</form>
{%endblock%}